<a [routerLink]="['/show']">Show Users</a>
<div class="row card-group">
    <div class="col-4" *ngFor="let user of users">
        <div class="card">
            <p>{{ user.name }}</p>
            <p>{{ user.gender }}</p>
            <img width="250" src="{{ user.profileImage }}">
            <p>{{ user.location }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.icon }}</p>
            <p>{{ user.temperature }}</p>
            <button (click)="saveUser(user)">Save</button>
        </div>
    </div>
</div>