<a [routerLink]="['/show']">Show Users</a>
<div class="row card-group">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let user of users">
        <div class="card text-center mt-3 mb-3">
            <div class="beforeButton">
                <h4 class="card-title"><b>Name:</b> {{ user.name }}</h4>
                <img width="250" src="{{ user.profileImage }}">
                <p class="card-text"><b>Gender:</b> {{ user.gender }}</p>
                <p class="card-text"><b>Location:</b> {{ user.location }}</p>
                <p class="card-text"><b>Email:</b> {{ user.email }}</p>
                <p class="card-text"><b>Icon: </b> {{ user.icon }}</p>
                <p class="card-text"><b>Temperature:</b> {{ user.temperature }}</p>
            </div>
            <a class="btn btn-primary" (click)="saveUser(user)">Save</a>
        </div>
    </div>
</div>