<a [routerLink]="['/']">Add users</a>
<div class="row card-group">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let user of users">
        <div class="card text-center mt-3 mb-3">
            <h4 class="card-title"><b>Name:</b> {{ user.name }}</h4>
            <img width="250" src="{{ user.profileImage }}">
            <p class="card-text"><b>Gender:</b> {{ user.gender }}</p>
            <p class="card-text"><b>Location:</b> {{ user.location }}</p>
            <p class="card-text"><b>Email:</b> {{ user.email }}</p>
            <p class="card-text">{{ user.icon }}</p>
            <p><b>Temperature</b></p>
            <p class="card-text bottom">{{ user.temperature }}</p>
        </div>
    </div>
</div>